/* ==========UBUNTU========== */

@font-face {
    font-family: 'Ubuntu';
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Regular.eot');
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Regular.woff') format('woff'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Light.eot');
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Light.woff') format('woff'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Medium.eot');
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Medium.woff') format('woff'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Bold.eot');
    src: url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Bold.woff') format('woff'),
         url('https://fontsget.netlify.app/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}



/* ==========RUBIK========== */

@font-face {
    font-family: 'Rubik';
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Light.eot');
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Light.woff') format('woff'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Medium.eot');
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Medium.woff') format('woff'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Bold.eot');
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Bold.woff') format('woff'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Regular.eot');
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Regular.woff') format('woff'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Black.eot');
    src: url('https://fontsget.netlify.app/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Black.woff') format('woff'),
         url('https://fontsget.netlify.app/Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
}



/* ==========MONTSERRAT========== */

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Light.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Light.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Thin.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Thin.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-SemiBold.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-SemiBold.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraLight.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: extralight;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Bold.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Bold.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Regular.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Medium.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Medium.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraBold.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: extrabold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Black.eot');
    src: url('https://fontsget.netlify.app/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Black.woff') format('woff'),
         url('https://fontsget.netlify.app/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
}
