// main: ../style.less

.section--about {
    background: @gray url("../img/bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;

    @media @mobile {
        padding-top: 4rem;
    }
}


.about__item {
    width: 50%;
    padding: 0 15px;

    @media @tablet {
        width: 100%;
    }
}

.about__item--photo {
    width: 50%;

    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @media @mobile {
        width: 90%;
        margin-left: 1.2rem;
    }
}

.about__item--content {
    width: 50%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        width: 100%;
    }
}

.about__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: @black;
    line-height: 2.8rem;

    @media @tablet {
        text-align: center;
    }

    @media @mobile {
        display: flex;
        position: absolute;
        top: 280rem;
        font-size: 2.3rem;
    }

    @media @mobile-sm {
        font-size: 2.2rem;
        top: 289rem;
    }

    @media @mobile-very-sm {
        font-size: 2rem;
        top: 277rem;
    }
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;

    @media @tablet {
        width: 100%;
    }
}

.about__img {
    display: block;
    max-width: 100%;
    height: auto;
}
