// main: ../style.less

.section--about {
    background: @gray;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}


.about__item {
    width: 50%;
    padding: 0 15px;

    @media @tablet {
        width: 100%;
    }
}

.about__item--photo {
    width: 41%;

    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media @mobile {
        width: 100%;
    }
}

.about__item--content {
    width: 59%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        width: 100%;
    }
}

.about__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: @black;
    line-height: 2.8rem;
    text-align: center;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: justify;

    @media @tablet {
        width: 100%;
    }
}

.about__img {
    display: block;
    max-width: 100%;
    height: auto;
}
