// main: ../style.less

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
    background: @gray;

    @media @mobile {
        margin-top: 100px;
    }

     @media @tablet {
        margin-top: 120px;
    }
}

.intro__inner {
    display: flex;
    padding-top: 6.6rem;
    padding-bottom: 8rem;
    position: relative;
    align-items: center;


    @media @tablet {
        padding-top: 3rem;
        padding-bottom: 3rem;

        background-size: 400px auto;
    }

    @media @mobile {
        background-size: 300px auto;
    }
}

.intro__item {
    width: 50%;
    padding: 0 1.5rem;

    @media @mobile {
        width: 60%;
    }

    @media @mobile-sm {
        width: 100%;
    }
}

.intro__item--photo {
    width: 50%;
}

.aintro__item--content {
    width: 50%;
}

.intro__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 3.1rem;

    font-size: 2.7rem;
    color: @light-black;

     @media @tablet {
        font-size: 2rem;;
    }
}

.intro__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;

    font-size: 1.2rem;
    color: @black;
}

.intro__photo {
    position: absolute;
    bottom: 4rem;
    right: -2rem;
    width: 50%;

    @media @tablet {
        width: 250px;
    }

    @media @mobile {
        width: 175px;
    }

    @media @mobile-sm {
        display: none;
    }
}


.intro__img {
    display: block;
    max-width: 100%;
    height: auto;
}







































































