// main: ../style.less

.stage {
    display: flex;
    flex-wrap: wrap;
}

.stage__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}


.stage__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.stage__icon {
    position: absolute;
    top: 0;
    left: 25px;
}


.stage__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: @black;
}


.stage__text {
    font-size: 15px;
    color: @black;
}
