// main: ../style.less

.stage__img {
    display: flex;
    position: absolute;
    right: 0;
    top: 62rem;
    width: 10%;

}

.stage {
    display: flex;
    flex-wrap: wrap;
}

.stage__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    padding-bottom: 2rem;
}

.stage__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.stage__icon {
    position: absolute;
    top: 0;
    left: 25px;
}


.stage__item--title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: @black;
}


.stage__text {
    font-size: 15px;
    color: @black;
}
