// main: ../style.less

.section--works {
    background: @gray url("../img/bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;

    @media @mobile {
        padding-top: 4rem;
    }
}


.works__item {
    width: 50%;
    padding: 0 15px;

    @media @tablet {
        width: 100%;
    }
}

.works__item--photo {
    width: 50%;

    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @media @mobile {
        width: 90%;
        margin-left: 1.2rem;
    }
}

.works__item--content {
    width: 50%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        width: 100%;
    }
}

.works__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: @black;
    line-height: 2.8rem;
    text-align: center;

    @media @mobile {
        display: flex;
        position: absolute;
        top: 205rem;
        font-size: 2.3rem;
    }

    @media @mobile-sm {
        font-size: 2.2rem;
        top: 214rem;
    }

    @media @mobile-very-sm {
        font-size: 2rem;
        top: 206rem;
    }
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;

    @media @tablet {
        width: 100%;
    }
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.works__stat {
    display: flex;
    flex-wrap: wrap;
}

.works__stat-item {
    display: flex;
    align-items: center;
    background-color: @white;
    width: 45%;
    border: 1px solid @black;
    border-radius: 10px;
    line-height: 1.2rem;

    padding: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.works__stat-img {
    padding-right: 0.8rem;
}

.works__stat-text {
    padding-right: 0.8rem;
}

.works--stat-arrow {
    padding-right: 0.8rem;
}



