// main: ../style.less

.section--works {
    background: @gray url("../img/bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;

    @media @mobile {
        padding-top: 4rem;
    }
}


.works__item {
    width: 50%;
    padding: 0 15px;

    @media @tablet {
        width: 100%;

        padding: 0;
    }
}

.works__item--photo {
    width: 62%;
    margin-right: 2rem;

    @media @large-pc {
        width: 49%;
    }

    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    @media @mobile {
        width: 100%;
    }
}

.works__item--content {
    width: 50%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        width: 100%;
    }
}

.works__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: @black;
    line-height: 2.8rem;
    text-align: center;

    padding-bottom: 3rem;

    @media @mobile {
        display: flex;
        font-size: 1.9rem;

        padding-bottom: 0;
    }

    @media @mobile-sm {
        font-size: 1.8rem;
    }

    @media @mobile-very-sm {
        font-size: 1.7rem;
    }
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;

    @media @tablet {
        width: 100%;
    }
}

.works__img {
    display: block;
    width: 100%;
    height: auto;

    @media @tablet {
        width: 70%;
        max-width: 100%;
    }

    @media @mobile {
        width: 90%;
    }
}

.works__logo {
    padding-bottom: 1rem;
}

.works__stat {
    display: flex;
    flex-wrap: wrap;

    @media @tablet {
        padding: 0.1rem;
    }

    @media @mobile-very-sm {
        padding: 0.1rem;
    }
}

.works__stat-item {
    display: flex;
    align-items: center;
    background-color: @white;
    width: 48%;
    border: 1px solid @black;
    border-radius: 10px;
    line-height: 1.2rem;

    padding: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media @mobile {
        flex-wrap: wrap;
        width: 47%;
    }

    @media @mobile-very-sm {
        padding: 0.5rem;
    }
}

.works__stat-img {
    padding-right: 0.8rem;

    @media @mobile-very-sm {
        width: 37%;
    }
}

.works__stat-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding-right: 0.8rem;

    @media @mobile {
        font-size: 1rem;
        width: 50%;
    }

    @media @mobile-very-sm {
        font-size: 0.9rem;
    }
}

.works__stat-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    @media @mobile {
        padding-top: 0.8rem;
    }
}

.works--stat-arrow {
    padding-right: 0.8rem;

    @media @mobile {
        padding-left: 1.5rem;
        padding-top: 0.8rem;
    }

    @media @mobile-very-sm {
        padding-left: 1rem;
    }
}

.works__slider-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;


    @media @large-pc {
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    @media @tablet {
        display: block;

        padding-left: 0;
    }

    @media @mobile {
        width: 100%;
        padding-right: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.works__slider .slick-slider {
    padding: 0 110px;
}


.slick-item:focus {
    outline: 0;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 41%;
    z-index: 1;
    transform: translateX(-5px);

    @media @tablet {
        top: -11.5%;
    }

    @media @mobile {
        top: -14.65%;
    }

    @media @mobile-sm {
        top: -15.55%;
    }

    @media @mobile-very-sm {
        top: -17.2%;
    }
}


.slick-arrow:focus {
    outline: 0;
}


.slick-arrow:after {
    background: url("../img/works/next.svg");
    content: "";
    display: flex;
    width: 4rem;
    height: 4rem;

    transform: rotate(-135deg);

    border-top: 0;
    border-left: 0;

    @media @tablet {
        display: none;
    }
}


.slick-prev {
    top: 41%;
    left: -5rem;
    transform: rotate(-45deg);

    @media @tablet {
        display: none;
    }
}


.slick-next {
    right: -6rem;
    transform: rotate(135deg);

    @media @tablet {
        display: none;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;

    list-style: none;

    width: 100%;
    z-index: 2;
}


.slick-dots li {
    margin: 0 5px;
}


.slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;

    background: #DFDFDF;
    border-radius: 50%;
    border: 0;
    opacity: 0.5;
    cursor: pointer;


    font-size: 0;
    color: transparent;
}


.slick-dots button:focus {
    outline: 0;
}


.slick-dots .slick-active button {
    background: @black;
}



