// main: ../style.less

.section--about {
    margin-top: 4rem;
    padding: 80px 0;
    overflow: hidden;
    background: #fff no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    @media @tablet {
        padding: 30px 0;
        margin-top: 0;
    }
}


.about__inner{
    height: 500px;
    overflow: hidden;

    @media @tablet {
        height: auto;
    }
}


.about__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.about__photo {
    width: 41%;
    height: 500px;
    position: relative;

    @media @tablet {
        width: 100%;
        height: auto;
        position: inherit;
    }
}


.about__img {
    position: absolute;
    top: 50%;
    width: 94%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);

    @media @tablet {
        width: 100%;
        position: inherit;

        transform: none;
    }
}

.about__img--bg {

    @media @tablet {
        width: 70%;
        margin-left: 7.5rem;
    }

    @media @mobile {
        margin-left: 3.5rem;
    }
}

.about__img--card {
    position: absolute;
    top: 50%;
    left: -1%;
    width: 108%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);

    @media @tablet {
        width: 80%;
        top: 187.5rem;
        left: 5rem;
    }

    @media @mobile {
        width: 75%;
        top: 184.2rem;
        left: 3rem;
    }

    @media @mobile-sm {
        top: 175.5rem;
    }
}


.about__content {
    display: flex;
    flex-direction: column;
    width: 59%;

    padding-left: 5.4rem;

    @media @tablet {
        padding-left: 0;
        width: 100%;
    }
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.7;
    color: @about-title;


    @media @tablet {
        font-size: 2rem;
        line-height: 1.7rem;
        text-align: center;
    }

    @media @mobile {
        font-size: 1.7rem;
        text-align: center;
    }
}

.about__text {
    margin-bottom: 25px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
    color: @dark-black;

    @media @tablet {
        text-align: justify;
    }

    @media @mobile {
        font-size: 1rem;
    }
}







