// main: ../style.less

.accordion__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: @accordion-title;

    cursor: pointer;

    transition: color 0.1s linear;

    @media @tablet {
        font-size: 1.3rem;
    }

    @media @mobile-very-sm {
        font-size: 1.1rem;
    }

    &:focus {
        color: @accordion-text;
        outline: 0;
    }

    &:hover {
        color: @accordion-text;
    }
}

.accordion__content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: @accordion-text;

    @media @tablet {
        font-size: 1rem;
    }

    @media @mobile-very-sm {
        font-size: 0.9rem;
    }
}

.accordion__text {
    width: 50%;

    @media @mobile {
        width: 100%;
        text-align: justify;
    }
}

.accordion__img {
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 12rem;
    right: 0;

    padding-left: 12rem;
}

.accordion__img--phone {
    display: flex;
    top: 56.5rem;
    right: 7.5rem;

    @media @tablet {
        top: 55.5rem;
        right: 6.5rem;
        width: 48%;
    }

    @media @mobile {
        top: 81.5rem;
        right: 6.5rem;
        width: 100%;
    }

    @media @mobile-sm {
        top: 82rem;
        right: 5.8rem;
    }

    @media @mobile-very-sm {
        top: 78.5rem;
        right: 6rem;
    }
}

.accordion__img--bg {
    display: flex;
    top: 60.5rem;
    right: 1rem;
    z-index: 1;

    @media @tablet {
        top: 57.7rem;
        right: 2rem;
        width: 65%;
    }

    @media @mobile {
        top: 84.7rem;
        right: 1rem;
        width: 135%;
    }

    @media @mobile-very-sm {
        top: 79.7rem;
        right: 2rem;
    }
}











