// main: ../style.less

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 38px 10px;
    border: 0;
    border-radius: 50%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: @blue;
    width: 120px;
    height: 120px;
    color: @white;
    text-align: center;

    text-decoration: none;

    &--intro {
        margin-top: 2.6rem;
    }
}










