// main: ../style.less

.contact {
    @media @tablet {
        background: #000B1B center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.contact__bg {
    position: absolute;
    top: 197.5rem;
    right: 8.5rem;

    @media @tablet {
        display: none;
    }
}

.contact__content {
    background: #000B1B center no-repeat;
    border-radius: 2rem;
    padding: 2.4rem;
    width: 39%;
    position: absolute;
    top: 202rem;
    right: 5rem;

    @media @tablet {
        text-align: center;
        background: none;
        position: inherit;
        width: 100%;
    }
}

.contact__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    color: @white;
    padding-bottom: 1.6rem;
}

.contact__content-item {
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;

    @media @tablet {
        justify-content: center;
    }

    &:last-child {
        padding-bottom: 1.6rem;
    }
}

.contact__icon {
    margin-right: 0.9rem;
}

.contact__address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: @white;
}

.contact__phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: @white;

    padding-right: 2rem;
}

.callback--contact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;

    &:after {
        top: 2.5rem;
    }
}

.contact__social {
    display: flex;

    @media @tablet {
        justify-content: center;
    }
}

.contact__social-link {
    padding-right: 1rem;
    text-decoration: none;

    transition: transform 0.2s linear;

    &:hover {
        transform: translateY(-5px);
    }

    &:last-child {
        padding-right: 0;
    }
}

.contact__icon {
    width: 16px;
    height: 18px;
}



