// main: ../style.less

.contact {
    display: flex;
    background: url(https://placehold.it/477x700) right center no-repeat;

    @media @tablet {
        background: url(https://placehold.it/450x630) right center no-repeat;
    }

    @media @mobile {
        background: url(https://placehold.it/190x450) right center no-repeat;
    }
}

.contact__left {
    padding: 2rem;
    width: 47%;

    @media @tablet {
        padding: 1.5rem;
    }

    @media @mobile {
        padding: 1rem;
    }
}

.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;

    font-size: 0.94rem;
    color: @black;
    font-weight: 300;

    @media @mobile {
        margin: 1rem 0 2rem;
    }
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;

    &:last-child {
        margin-bottom: 0;
    }

    @media @mobile {
        font-size: 0.7rem;
    }
}

.contact__info-icon {
    margin-right: 0.75rem;
}
