@import "vars";

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('fonts/GothamPro/regular/gothampro.eot');
    src: url('fonts/GothamPro/regular/gothampro.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro/regular/gothampro.woff') format('woff'),
    url('fonts/GothamPro/regular/gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('fonts/GothamPro/medium/GothamPro-Medium.eot');
    src: url('fonts/GothamPro/medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro/medium/GothamPro-Medium.woff') format('woff'),
    url('fonts/GothamPro/medium/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('fonts/GothamPro/bold/GothamPro-Bold.eot');
    src: url('fonts/GothamPro/bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro/bold/GothamPro-Bold.woff') format('woff'),
    url('fonts/GothamPro/bold/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cera Pro Regular';
    src: url('fonts/CeraPro/regular/cerapro-regular.eot');
    src: url('fonts/CeraPro/regular/cerapro-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/CeraPro/regular/cerapro-regular.woff') format('woff'),
    url('fonts/CeraPro/regular/cerapro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cera Pro Medium';
    src: url('fonts/CeraPro/medium/cerapro-medium.eot');
    src: url('fonts/CeraPro/medium/cerapro-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/CeraPro/medium/cerapro-medium.woff') format('woff'),
    url('fonts/CeraPro/medium/cerapro-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cera Pro Bold';
    src: url('fonts/Cera Pro/bold/cerapro-bold.eot');
    src: url('fonts/CeraPro/bold/cerapro-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/CeraPro/bold/cerapro-bold.woff') format('woff'),
    url('fonts/CeraPro/bold/cerapro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html {
    font-size: 15px;
}


body {
    margin: 0;

    font-family: 'Gotham Pro Regular';
    font-size: 1rem;
    line-height: 1.6;
    color: @black;
    -webkit-font-smoothing: antialiased;

    &.no-scroll {
        overflow: hidden;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header,
.footer {
    padding: 20px;
}





/* Blocks */
@import "blocks/scrollbar";
@import "blocks/container";
@import "blocks/page";
@import "blocks/burger";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/features-material";
@import "blocks/use";
@import "blocks/features-our";
@import "blocks/about";
@import "blocks/map";
@import "blocks/hire";
@import "blocks/nav-footer";
@import "blocks/contact";
@import "blocks/contact-modal";
@import "blocks/modal";
@import "blocks/modal-more";
@import "blocks/form";
@import "blocks/footer";






/* Helpers */
@import "blocks/helpers";
