// main: style.less

@white: #fff;
@black: #2F2F2F;
@gray: rgba(229, 229, 229, 0.1);
@background: #2F2F2F;
@green: #B9D420;
@footer: rgba(87, 90, 108, 0.2);

@mobile-galaxy-fold: ~"(max-width: 280px)";
@mobile-very-sm: ~"(max-width: 320px)";
@mobile-redmi-7-2: ~"(max-width: 351px)";
@mobile-redmi-7: ~"(max-width: 371px)";
@mobile-sm: ~"(max-width: 412px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 1199px)";
@large-pc: ~"(max-width: 1370px)";

