// main: ../style.less

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 0.3rem;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    transition: background, box-shadow 0.2s linear;


    &--red {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 1.5rem;
        background-color: rgba(255,80,80,1);

        box-shadow: 0 0 5px rgba(#000, 0.25);

        @media @mobile {
            margin-left: 5.5rem;
        }


        &-cat {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 0.7rem;
            margin-top: 1rem;
            padding: 10px 25px;
            background-color: rgba(255,80,80,1);

            @media @tablet {
                font-size: 0.9rem;
            }

            @media @mobile {
                font-size: 0.8rem;
            }
        }

        &-cat:hover {
            box-shadow: 0 0 15px rgba(#000, 0.25);

            background-color: #dd3434;
        }

        &-cat:focus {
            outline: 0;
        }


        &-description {
            max-width: 14.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 0.8rem;
            margin-top: 1.5rem;
            background-color: rgba(255,80,80,1);

            box-shadow: 0 0 5px rgba(#000, 0.25);


            @media @tablet {
                font-size: 0.7rem;
            }

            @media @mobile {
                font-size: 0.6rem;
            }
        }

        &-description:hover {
            box-shadow: 0 0 15px rgba(#000, 0.25);

            background-color: #dd3434;
        }

        &-description:focus {
            outline: 0;
        }

        &-discount {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 0.7rem;
            margin-top: 1rem;
            padding: 2px 20px;
            background-color: rgba(255,80,80,1);
        }

        &-discount:hover {
            box-shadow: 0 0 15px rgba(#000, 0.25);

            background-color: #dd3434;
        }

        &-discount:focus {
            outline: 0;
        }

        &-card {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 3.5rem;
            padding: 12px 30px;
            background-color: rgba(255,80,80,1);

            text-transform: inherit;

            @media @tablet {
                margin-left: 2.5rem;
                margin-top: 2rem;
            }

            @media @mobile {
                font-size: 1rem;
                padding: 8px 20px;
            }
        }

        &-card:hover {
            box-shadow: 0 0 15px rgba(#000, 0.25);

            background-color: #dd3434;
        }

        &-similar:focus {
            outline: 0;
        }

        &-similar {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1rem;
            padding: 8px 8px;
            background-color: rgba(255,80,80,1);

            text-transform: inherit;

            @media @tablet {
                font-size: 1.2rem;
            }
        }

        &-similar:hover {
            box-shadow: 0 0 15px rgba(#000, 0.25);

            background-color: #dd3434;
        }

        &-similar:focus {
            outline: 0;
        }

    }

    &--red:hover {
        box-shadow: 0 0 15px rgba(#000, 0.25);

        background-color: #dd3434;
    }

        &--red:focus {
            outline: 0;
        }

    .btn--long {
        min-width: 280px;
    }
}

.search__btn {
    width: 7%;
    height: 35px;
    padding: 0;

    background-color: rgba(255,80,80,1);
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    transition: background 0.2s linear;

    &:hover {
         background-color: #dd3434;
    }

    &:focus {
        outline: 0;
    }

    &--subscribe {
        border-radius: 5px 5px 5px 5px;
        width: 18%;

        @media @mobile {
            margin-right: 30rem;
            margin-top: 1rem;
        }
    }
}

.btn-more {
    align-items: center;
    margin-left: 0.3rem;
}




