// main: ../style.less

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 0.3rem;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background 0.2s linear;

    &--red {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 1.5rem;
        background-color: rgba(255,80,80,1);
    }

    &--red:hover {
        background-color: #dd3434;
    }

    .btn--long {
        min-width: 280px;
    }
}







