// main: ../style.less

.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.categories__title {
    color: #353C56;
    margin-top: 6rem;
    margin-bottom: -5rem;

    @media @tablet {
        font-size: 2.5rem;
    }
}

.categories__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    border-radius: 7px 7px 7px 7px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;

    text-align: center;
    color: @white;


    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;

    box-shadow: 0 0 7px rgba(#000, 0.25);

    transition: box-shadow 0.2s linear;

    &:hover {
        box-shadow: 0 0 35px rgba(#000, 0.60);
    }
}

.categories__item {
    position: relative;
    width: 32.33333%;
    margin: 0.35rem;

    @media @tablet {
        width: 48%;
    }
}


.categories__img {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: auto;
}
