// main: ../style.less

.contact__info {
    display: flex;
    flex-wrap: wrap;

    &--footer {
        position: absolute;
        flex-direction: column;
    }
}

.contact__info--header {
     @media @tablet {
        display: none;
    }
}

.contact__info-item {
    margin-right: 1rem;

    align-items: center;

    &--mail {
        text-transform: uppercase;
    }

    &--footer {
        padding-bottom: 1rem;

        color: @light-black;
    }
}

.contact__info-icon {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
