// main: ../style.less

.discount {
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow: hidden;
    background: #F6F6F6 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    border-radius: 5px;

    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.discount__slider {
    height: 325px;
    overflow: hidden;
    width: 55.5%;
}

.discount .slick-slider {
    padding: 0 20px;
}

.discount__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.discount__photo {
    width: 40%;
    height: 58rem;
    position: absolute;

    margin-left: 7rem;
}


.discount__img {
    position: absolute;
    top: 6rem;
    width: 12rem;
    right: 0;
    left: 21rem;
    z-index: 1;

    transform: translateY(-140%);
}


.discount__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;

    margin-left: 5rem;
    margin-top: 2rem;

    border-right: rgba(118, 118, 118, 0.08) 1px solid;

    border-left: rgba(118, 118, 118, 0.08) 1px solid;

    padding-right: 6rem;
    padding-left: 2rem;
}

.discount__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    color: #FF5050;

    margin-bottom: 20px;
}

.discount__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
    color: #353C56;

    margin-bottom: 10px;
}

.discount__text {
    margin-bottom: 8rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #353C56;
}

.discount__text-vertical {
    position: absolute;

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #353C56;

    top: 82%;
    bottom: -59rem;
    left: 44.3%;
    right: 294rem;
}

.rotate {
    transform: translateX(-50%) translateY(223%) rotate(-90deg);
}

.discount-slider__item {
    margin-left: 2rem;
    margin-top: 2rem;
}

.discount-slider__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    color: @light-black;
}

.discount-slider__subtitle {
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: @light-black;
}

.discount-slider__rating {
    line-height: 2rem;
}

.discount-slider__star {
    width: 13px;
    height: 13px;

    &--unactive {
        opacity: 0.3;
    }
}

.discount-slider__count {
    padding-left: 1rem;

    font-size: 1.07rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(159, 159, 159, 1);
}

.discount-slider__price {
    padding-top: 1.5rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 1.2;
    color: #353C56;
}
.slick-active {
    width: 43rem;
}

.slick-item:focus {
    outline: 0;
}


.slick-arrow {
    display: flex;
    justify-content: center;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}


.slick-arrow:focus {
    outline: 0;
}


.slick-arrow:after {
    content: "";
    display: flex;
    width: 16px;
    height: 16px;

    border-top: 2px solid #2EF27C;
    border-left: 2px solid #2EF27C;
}


.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}


.slick-next {
    right: 0;
    transform: rotate(135deg);
}


.text__black {
    color: #353C56;
}



