// main: ../style.less

.discount {
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow: hidden;
    background: #F6F6F6 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    border-radius: 5px;

    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.discount__slider {
    height: 325px;
    overflow: hidden;
    width: 56.5%;

    @media @tablet {
        width: 100%;
    }

    @media @mobile {
        height: 40rem;
    }
}

.discount .slick-slider {
    padding: 25px 22px;

    @media @tablet {
        padding: 0 50px;
    }
}

.discount__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.discount__photo {
    width: 40%;
    position: absolute;

    margin-left: 7rem;

    @media @mobile {
        width: 100%;
        position: inherit;
        margin-left: 0;
    }
}


.discount__img {
    display: flex;
    position: absolute;
    top: 6rem;
    width: 12rem;
    right: 0;
    left: 21rem;
    z-index: 1;

    transform: translateY(-140%);

    @media @mobile {
        position: inherit;
        left: 2.5rem;
        top: 24.4rem;
        width: 72%;
    }

    @media @mobile-sm {
        top: 21.4rem;
    }
}


.discount__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;

    margin-left: 5rem;
    margin-top: 2rem;

    border-right: rgba(118, 118, 118, 0.08) 1px solid;

    border-left: rgba(118, 118, 118, 0.08) 1px solid;

    padding-right: 6rem;
    padding-left: 2rem;

    @media @tablet {
        margin-top: 4rem;
        margin-left: 0;
        padding-top: 1rem;
        padding-right: 2rem;

        border-top: rgba(118, 118, 118, 0.08) 1px solid;
        border-bottom: rgba(118, 118, 118, 0.08) 1px solid;

        width: 100%;
        text-align: center;
    }
}

.discount__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 1.2;
    color: #FF5050;

    margin-bottom: 20px;

    @media @mobile {
        font-size: 1.7rem;
    }
}

.discount__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
    color: #353C56;

    margin-bottom: 10px;
}

.discount__text {
    margin-bottom: 8rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #353C56;

    @media @tablet {
        margin-bottom: 1rem;

        font-size: 1rem;
    }
}

.discount__text-vertical {
    position: absolute;

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #353C56;

    top: 82%;
    bottom: -59rem;
    left: 44.3%;
    right: 294rem;

    @media @tablet {
        top: 214rem;
        bottom: 0;
        left: 21rem;
        right: 0;
    }

    @media @mobile {
        top: 217.5rem;
        left: 9.5rem;
        font-size: 1.5rem;
    }
}

.rotate {
    transform: translateX(-50%) translateY(187%) rotate(-90deg);

    @media @tablet {
        transform: none;
    }
}

.discount-slider__item {
    margin-left: 3rem;
    margin-top: 2rem;

    @media @mobile {
        margin-left: 4rem;
    }
}

.discount-slider__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    color: @light-black;

    @media @mobile {
        font-size: 1.3rem;
        line-height: 1.5rem
    }
}

.discount-slider__subtitle {
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: @light-black;

    @media @mobile {
        font-size: 1rem;
        line-height: 1.3rem
    }
}

.discount-slider__rating {
    line-height: 2rem;
}

.discount__slider-img {
    display: flex;
    align-items: center;
}

.discount-slider__star {
    margin-left: 0.2rem;

    width: 13px;
    height: 13px;

    &--unactive {
        opacity: 0.3;
    }
}

.discount-slider__count {
    padding-left: 1rem;

    font-size: 1.07rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(159, 159, 159, 1);
}

.discount-slider__price {
    padding-top: 1.5rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 1.2;
    color: #353C56;

    @media @mobile {
        font-size: 1rem;
    }
}

.text__black {
    color: #353C56;
}

.slick-arrow--discount {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateX(-5px);
}


.slick-arrow:focus {
    outline: 0;
}


.slick-arrow--discount:after {
    background: url("../img/description/next.svg");
    content: "";
    display: flex;
    width: 2.5rem;
    height: 2.5rem;

    transform: rotate(-135deg);

//    border-top: 2px solid #ccc;
//    border-left: 2px solid #ccc;
}


.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}


.slick-next {
    right: 0;
    transform: rotate(135deg);
}


