// main: ../style.less

.features {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    max-width: 50rem;
    max-height: 6rem;
    left: 0;
    right: 0;

    margin-top: 8rem;
    margin-bottom: -15rem;

    background: rgba(255, 255, 255, 0.6);

    border-radius:0 5px 5px 0;

    @media @tablet {
        max-width: 52rem;
        border-radius: 0;
    }

    @media @mobile {
        margin-top: 5rem;
        max-height: 10rem;
    }
}

.features__item {
    width: 33.33333%;
    padding: 0 20px;
    margin: 20px 0;

    text-align: left;

    @media @mobile {
        text-align: center;
    }
}

.features__title {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #353C56;

    @media @mobile {
        font-size: 1rem;
    }
}

.features__text {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #353C56;
}

.features__icon {
    margin-right: 0.7rem;

    float: left;
    width: 40px;
    height: 40px;

    @media @mobile {
        margin-right: 0;
        float: none;
    }
}





















