// main: ../style.less

.footer {
    margin-top: auto;

    background: #F6F6F6 center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}


.footer__block {
    width: 25.33333%;
    padding: 0 15px;

    text-align: left;
    border-right: rgba(118, 118, 118, 0.4) 2px solid;

    &:last-child {
        border-right: 0;
        padding-right: 0;
    }

    &--first {
        width: 19.33333%;
    }

    &--second {
        width: 34.33333%;
    }

    &--third {
        width: 26.33333%;
    }
}

.footer__logo {
    display: flex
}

.footer__text {
    font-size: 1.07rem;
    line-height: 1.34;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: @light-black;
}

.footer__privacy {
    font-size: 1.07rem;
    line-height: 1.34;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: @light-black;

    text-decoration: none;

    transition: text-decoration 0.1s linear;

    &:hover {
        text-decoration: underline;
        color: @light-black;
    }
}

.footer__download {
    display: flex;
    flex-direction: column;
    float: right;

    margin-left: 15rem;
}

.footer__download-logo {
    padding: 5px 10px;
    margin-bottom: 1rem;

    width: 150px;
    height: 50px;
    text-decoration: none;

    border: rgba(166, 166, 166, 1) 1px solid;
    border-radius: 5px 5px 5px 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.appstore__logo {
    padding: 0 7px;
}

googleplay__logo {
    padding: 0 7px;
}










