// main: ../style.less

.search__form {
    position: absolute;
    margin-top: 6rem;

    background: #F6F6F6 no-repeat;
    width: 1349px;
    height: 4rem;
}

.search {
    margin-top: 1rem;

    width: 100%;
    min-width: 815px;
    max-width: 815px;
}


.search__input {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    width: 100%;
    height: 2.1rem;
    padding: 0.7rem;
    background: #fff;
    border: 2px solid #e7e7e7;

    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-weight: 300;

    font-family: 'Montserrat', sans-serif;

    transition: border-color 0.1s linear;
}


.search__input::placeholder {
    color: #ccc;
}


.search__input:focus {
    outline: 0;
    border-color: rgba(98, 91, 91, 0.3);
}

.fas {
    border: 0;
    cursor: pointer;
    color: #D2D2D2;

    &:focus {
        outline: 0;
    }
}























