// main: ../style.less

.search__form {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;

    margin: 5.5rem auto;

    background: #F6F6F6 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 4rem;

    @media @tablet {
        margin: 6.5rem auto;
    }

    &-text {
        display: flex;
        color: @light-black;

        &--left {
            position: absolute;
            left: 9rem;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }

        &--right {
            position: absolute;
            right: 0;
        }
    }
}

.search__form-item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    text-decoration: none;
    color: @light-black;
    cursor: pointer;

    transition: opacity 0.1s linear;

    &:hover {
        opacity: 0.5;
    }

    @media @tablet {
        display: none;
    }
}

.search__form-icon {
    padding-right: 0.5rem;
}


.search {
    display: flex;
    width: 100%;

    margin: -0.3rem auto;

    min-width: 815px;
    max-width: 815px;
}


.search__input {
    margin-left: 3rem;

    width: 80%;
    height: 35px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;

    font-size: 1rem;
    line-height: 1.1;
    color: #333;
    font-weight: 300;

    font-family: 'Montserrat', sans-serif;

    transition: focus 0.2s linear;



    &::placeholder {
        color: #ccc;
    }


    &:focus {
        outline: 0;
        border-color: #8f918b 2px solid;
    }

    &--subscribe {
        margin-left: 4rem;
        margin-right: 2.4rem;
        width: 62%;
        border-radius: 5px 5px 5px 5px;
    }
}

.search-from__burger {
    width: 40px;
    height: 20px;
}







