// main: ../style.less

.social {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 15rem;
    margin-left: 55rem;

    @media @notebook {
        margin-top: 18rem;
    }

    @media @tablet {
        margin-top: 15rem;
        margin-left: 11rem;
    }

    @media @mobile {
        margin-top: 20rem;
        margin-left: 0;
    }

    &--footer {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
    }
}

.social__text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    @media @mobile {
        font-size: 15px;
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 2px;
        background-color: #353C56;
        margin-left: 2rem;
        margin-right: 2rem;

        @media @mobile {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            width: 30px;
        }
    }
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 4px;

    background-color: #353C56;
    border-radius: 50%;

    transition: background 0.2s linear;

    &:hover {
       background-color: #e8ecee;
    }
}



.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    height: 18px;
    display: block;
    fill: #c6cacc;

    transition: fill 0.2s linear;
}














