// main: ../style.less

.header {
    width: 100%;
    height: 100px;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    @media @tablet {
        height: 115px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    @media @mobile {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header.fixed {

    @media @tablet {
        height: auto;

        position: fixed;

        background-color: @background;
    }
}


.header.fixed .header__inner {
    padding-bottom: 0;
    padding-top: 0;

    border-bottom: 0;
}

.logo__img {
    width: 70%;

    @media @mobile {
        width: 60%;
    }
}





