// main: ../style.less

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.show {
        display: flex;
    }

&--hire {
    display: flex;
    position: absolute;
    background: none;
    width: auto;
    height: auto;
    top: 277rem;
    left: 10rem;
    z-index: 0;

        @media @large-pc {
            top: 244rem;
            left: 5rem;
        }

        @media @tablet {
            top: 281rem;
            left: 4rem;
        }

        @media @mobile {
            top: 316rem;
            left: 2.5rem;
        }

        @media @mobile-sm {
            top: 333rem;
            left: 1.5rem;
        }

        @media @mobile-redmi-7 {
            top: 337.5rem;
            left: 1rem;
        }

        @media @mobile-redmi-7-2 {
            top: 337rem;
        }

        @media @mobile-very-sm {
            top: 306rem;
            left: 0.5rem;
        }

        @media @mobile-galaxy-fold {
            top: 315rem;
        }
    }
}

.modal__dialog {
    width: 100%;
    height: 100%;
    max-width: 1507px;
    max-height: 757px;
    margin: auto;
    position: relative;

    background-color: @form;

    transform: scale(0);
    transition: transform 0.2s linear;

    &--hire {
        transform: none;
    }

    &--sm {
        max-width: 35rem;
        max-height: 635px;
        border-radius: 3%;

        @media @large-pc {
            max-width: 30rem;
            max-height: 555px;
        }

        @media @tablet {
            max-height: 500px;
        }

        @media @mobile {
            max-width: 20rem;
            max-height: 410px;
        }

        @media @mobile-very-sm {
            max-height: 400px;
        }
    }

    &--more {
        background-color: @background;
        border-radius: 10px;

        @media @large-pc {
            max-width: 1200px;
            max-height: 525px;
        }

        @media @mobile {
            max-height: 725px;
        }
    }
}

.modal__dialog-hire {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;

    background-color: @form;

    transition: transform 0.2s linear;

    &--sm {
        max-width: 31rem;
        border-radius: 3%;

        @media @large-pc {
            max-width: 27rem;
        }

        @media @tablet {
            max-width: 21rem;
        }

        @media @mobile-sm {
            max-width: 20rem;
        }

        @media @mobile-very-sm {
            max-width: 18rem;
        }
    }
}

.modal__close {
    width: 30px;
    height: 50px;
    padding: 0;

    background: none;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 0.9rem;
    right: 1.7rem;
    z-index: 1;

    @media @mobile {
        width: 12px;
        height: 15px;
    }

    transition: transform 0.2s linear;

    &:hover {
        transform: translateY(-3px);
    }

    &:focus {
        outline: none;
    }
}

.modal__content {
    padding: 5rem 1rem;
}

.modal__title {
    font-family: 'Cera Pro Medium';
    font-weight: 500;
    margin-bottom: 3.6rem;

    font-size: 2.6rem;
    text-transform: uppercase;
    color: @green;
    text-align: center;

    @media @large-pc {
        font-size: 2.2rem;
    }

    @media @tablet {
        font-size: 2rem;
    }

    @media @mobile {
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
    }

    @media @mobile-very-sm {
        font-size: 1.2rem;
    }

    &--hire {
        font-size: 2.6rem;
        text-transform: none;
        text-align: left;
        padding-bottom: 5px;

        @media @large-pc {
            font-size: 2rem;
        }

        @media @tablet {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;

            padding-bottom: 0;
        }

        @media @mobile-sm {
            font-size: 1.4rem;
        }

        @media @mobile-very-sm {
            font-size: 1.1rem;
        }
    }
}

.modal__subtitle {
    font-family: 'Gotham Pro Regular';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: @white;
    font-weight: 400;
    text-align: center;

    @media @large-pc {
        font-size: 1rem;
    }

    @media @tablet {
        font-size: 0.8rem;
    }

    @media @mobile {
        font-size: 0.6rem;
    }

    @media @mobile-very-sm {
        font-size: 0.5rem;
    }

    &--hire {
        font-size: 25px;
        text-transform: none;
        text-align: left;
        padding-bottom: 2rem;

        @media @large-pc {
            font-size: 20px;
        }

        @media @tablet {
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;

            padding-bottom: 0;
        }

        @media @mobile {
            font-size: 10px;
        }
    }
}

.modal__description {
    font-family: 'Gotham Pro Regular';
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;


    @media @mobile {
        font-size: 0.9rem;
    }

    @media @mobile-sm {
        font-size: 0.8rem;
    }

    @media @mobile-very-sm {
        font-size: 0.7rem;
    }
}





