// main: style.less

@black: #2b2a2c;
@dark-black: #000;
@white: #fff;
@gray: #F6F6F6;
@light-black: #353C56;
@blue: #0065F5;
@accordion-title: #80858D;
@accordion-text: #000B1B;
@about-title: #000B1B;
@footer: #000B1B;

@mobile-very-sm: ~"(max-width: 320px)";
@mobile-sm: ~"(max-width: 412px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 1199px)";
@large-pc: ~"(max-width: 1390px)";
@large-pc-2: ~"(max-width: 1510px)";
@large-pc-3: ~"(max-width: 1750px)";
@large-pc-4: ~"(max-width: 1890px)";
@large-pc-5: ~"(max-width: 1950px)";
